

.items3:hover{color: white; background-color: black;}
.items4{
    color: #ffccaa
}
.items5{
    color: #ffaacc
}

/* λ‹¤λ¥ΈνμΌ */
.item3{
    color: #FFCCAA;
    background-color: black;
}
h1{
    color: aqua;
    font-family: 'Nanum Brush Script', cursive;

}
.item4:hover{
    color: greenyellow;
    background-color: #ffaacc;
}
.item4{
    color: #ffccaa;
}
.fonttest1{
    color: greenyellow;
}
.fonttest2{
direction: rtl;
}
.fonttest3{
    letter-spacing: 3ch;
}
.fonttest4{
    line-height: 0.4cm;
}
.fonttest5{
    text-align: center;
}
.fonttest6{
    text-decoration: underline;text-decoration-color: red;
}
.fonttest7{
    text-indent: 2ch;
}
.fonttest8{
    text-shadow: 1px 1px 1px pink;
}
.fonttest9{
    text-transform: uppercase;
}
